<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Music ._.</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <section class="title">
        <h1 onclick="home();" style="cursor:pointer;">You Music @_@</h1>
    </section>
    <section>
        <div class="search">
            <label style="color: #fff;">Buscar canción</label><br>
            <form id="busquedad">
                <input class="searchSong" type="text" id="buscar">
                <button class="btnSearch" style="cursor:pointer;">Buscar</button>
            </form>
        </div>
    </section>
    <section class="results" id="results">
    </section>
<script src="index.js"></script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<!-- <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-app.js"></script> -->
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<!-- <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-analytics.js"></script> -->
</body>
</html>